body {
	margin: 0;
	padding: 0;
}
#container {
	font-family: Helvetica, sans-serif;
	text-align: center;
}

a {
	color: black;
	text-decoration: none;
}
#textarea-data{
	resize: none;
}
textarea {
	border: 2px solid #ccc;
	border-radius: 5px;
}
input {
	border: 2px solid #ccc;
	border-radius: 3px;
	padding: 5px;
	width:10vw;
	height:10vw;
}
#header {
	background-color: #ccc;
	width: 100%;
	height: 5vh;
}

#ghpropic-container {
	display: none;
	width: 5%;
	height: 30px;
	float: left;
}
#ghpropic-container:hover {
	background-color: #ddd;
}
#ghpropic {
	width: 30px;
	height: auto;
}

#header-container {
	width: 90%;
	height: inherit;
	float: left;
	font-weight: bold;
}

#about-container {
	width: 5%;
	height: 30px;
	float: left;
	font-weight: bold;
}
#about-container:hover {
	background-color: #ddd;
}

.header-par {
	margin: 8px 0 0 0;
	width: 100%;
	height: inherit;
	text-align: center;
	float: left;
}

table {
	margin-left: auto;
	margin-right: auto;
}
th {
	font-size: 1.8em;
	height: 10vh;
	background-color: #06105b;
	color:white;
	border: 0px solid #06105b;
}

.final {
	background-color: #ddd;
	padding: 25px;
	text-align: center;
	width: 7vw;
	height:7vw;
	border-radius: 5px;
}
.final:hover {
	background-color: #ccc;
}
.done, .done:hover {
	background-color: #f44;
}
#todo-container {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
#board {
	margin-top: 5vh;
}
button {
	font-family: inherit;
	background-color: #60B044;
	background-image: -webkit-linear-gradient(top, #8ADD6D, #60B044);
	background-image: -moz-linear-gradient(top, #8ADD6D, #60B044);
	background-image: -ms-linear-gradient(top, #8ADD6D, #60B044);
	background-image: -o-linear-gradient(top, #8ADD6D, #60B044);
	background-image: linear-gradient(to bottom, #8ADD6D, #60B044);
	border: 1px solid #D5D5D5;
	border-radius: 5px;
	font-weight: bold;
	padding: 4px;
	color: white;
	font-size: 0.9em;
	/*http://css3buttongenerator.com/*/
}
button:hover {
	background-color: #609044;
	background-image: -webkit-linear-gradient(top, #60B044, #609044);
	background-image: -moz-linear-gradient(top, #60B044, #609044);
	background-image: -ms-linear-gradient(top, #60B044, #609044);
	background-image: -o-linear-gradient(top, #60B044, #609044);
	background-image: linear-gradient(to bottom, #60B044, #609044);
}
@-webkit-keyframes shake {
	0% {
		left:0;
		top:0;
	}
	20% {
		top:-2px;
		left:2px;
	}
	40% {
		top:-2px;
		left:-2px;
	}
	60% {
		top: 2px;
		left: -2px;
	}
	80% {
		top:2px;
		left:2px;
	}
	100% {
		left:0;
		top:0;
	}
}
@-moz-keyframes shake {
	0% {
		left:0;
		top:0;
	}
	20% {
		top:-2px;
		left:2px;
	}
	40% {
		top:-2px;
		left:-2px;
	}
	60% {
		top: 2px;
		left: -2px;
	}
	80% {
		top:2px;
		left:2px;
	}
	100% {
		left:0;
		top:0;
	}
}
@keyframes shake {
	0% {
		left:0;
		top:0;
	}
	20% {
		top:-2px;
		left:2px;
	}
	40% {
		top:-2px;
		left:-2px;
	}
	60% {
		top: 2px;
		left: -2px;
	}
	80% {
		top:2px;
		left:2px;
	}
	100% {
		left:0;
		top:0;
	}
}
#call-bingo {
    position:relative;
    padding: 20px;
    font-size: 1.3em;
    -webkit-animation: 0.5s shake infinite;
    -moz-animation: 0.5s shake infinite;
    animation: 0.5s shake infinite;
}
#call-bingo:hover {
	-webkit-animation: 0.15s shake infinite;
    -moz-animation: 0.15s shake infinite;
    animation: 0.15s shake infinite;
}
#call-bingo:active {
	background-color: #f44;
	background-image: -webkit-linear-gradient(top, #f44, #f22);
	background-image: -moz-linear-gradient(top, #f44, #f22);
	background-image: -ms-linear-gradient(top, #f44, #f22);
	background-image: -o-linear-gradient(top, #f44, #f2);
	background-image: linear-gradient(to bottom, #f44, #f22);
	-webkit-animation: 0.1s shake infinite;
    -moz-animation: 0.1s shake infinite;
    animation: 0.1s shake infinite;
}

.cardheader {
	
}
